*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
	min-height: 100vh;
	width: 100vw;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	

}
.image{
	max-width: 300px;
}




.container{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: black ;
    /* position: fixed; */
    /* margin-bottom: 2rem; */
    
}

.logo{
   color: white;
 font-size: xx-large;
}

.menu{
    display: flex;
 
}

.menu li{
    padding-right: 40px;
}

.menu li a{ 
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition-duration: 0.20s;
    transition-timing-function: ease-in-out;
    position: relative;
    text-transform: uppercase;
}



.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: 0.20s ease-in-out;
 }


 .menu li a:hover::after{
   
    width: 100%;
	
    
 }
 .open-menu,.close-menu{
    position: absolute;
    color: rgba(250, 255, 254, 0.989);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

 }

.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

 }

 .close-menu{
    top: 20px;
    right: 20px;

 }

 #check{
    display: none;
 }
/* MAIN SECTION WITH THREE */
/* SECTION 1 of About */
.head2{
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
	padding-bottom: 20px;
	

}

.aboutt{
	background-color: bisque;
	padding-top: 20PX;
	transition-timing-function: linear;
	transition-duration: 2s;
	animation-name: reveal;
	
}

.head3{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 50px;

}
.im1{
	height: 150px;
	width: auto;
	margin-right: 60px;
}

.im2{
	height: 150px;
	width: auto;
	margin-right: 15px;
}



.text1,.text2{
	font-family: 'Times New Roman', Times, serif;
	font-weight: lighter;
	font-size: medium;
	text-align: justify;
}

section h2{
	text-align: center;
	text-decoration-line: underline;
}


/* section 2 of Blogs */

.head4{
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
	padding-bottom: 20px;
	

}

.head5{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 50px;

}
.imA1{
	height: 150px;
	width: auto;
	margin-right: 15px;
}

.imA2{
	height: 150px;
	width: auto;
	margin-right: 90px;
}


.text3,.text4{
	font-family: 'Times New Roman', Times, serif;
	font-weight: lighter;
	font-size: medium;
	text-align: justify;
}

section h2{
	text-align: center;
	text-decoration-line: underline;
}

.bloggs{
	background-color: rgb(179, 179, 64);
	padding-top: 20PX;
	transform: translateX(-100%);  /* Start from the left */
    animation: fadeInLeft 3s 0.5s forwards;  /* Apply the animation with delay */
}


/* section 3 for service */

.head6{
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
	padding-bottom: 20px;
	

}

.head7{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 50px;

}
.imAs1{
	height: 150px;
	width: auto;
	margin-right: 15px;
}

.imAs2{
	height: 150px;
	width: auto;
	margin-right: 50px;
}


.text5,.text6{
	font-family: 'Times New Roman', Times, serif;
	font-weight: lighter;
	font-size: medium;
	text-align: justify;
	color: white;
}

section h2{
	text-align: center;
	text-decoration-line: underline;
}

.servu{
	background-color: rgb(121, 43, 44);
	padding-top: 20PX;
	transform: translateX(100%);  /* Start from the left */
    animation: fadeInRight 3s 0.5s forwards;  /* Apply the animation with delay */
}



/* **********CONTACT SECTION********* */

.sectionnn {
	padding: 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.max-width {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
	
}

.contact,footer {
	font-family: "Poppins", seans-serif;
}
.contact .contact-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
section .title {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: "Ubuntu", sans-serif;
    color: rgb(120, 25, 158);
}
section .title::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background:rgb(120, 25, 158);
	transform: translateX(-50%);
}
section .title::after {
	position: absolute;
	bottom: -8px;
	left: 50%;
	font-size: 20px;
	color: crimson;
	padding: 0 5px;
	background: #fff;
	transform: translateX(-50%);
}
 .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title {
	font-size: 30px;
	font-weight: 500;
}
/* contact section styling */
.contact {
	/* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
	background-color: #95d1cc;
}
.contact .title::after {
	background-color: #95d1cc;
}
.contact .contact-content .column {
	width: calc(100% - 30px);

}
.contact .contact-content .text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	background: #95D1CC;
}
.contact .contact-content .head {
	font-weight: 500;
}
.contact .contact-content  {
	color: #78199e;
}
.contact .right form .fields {
	display: flex;
}

.contact .right form .fields .field {
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
	box-shadow: 0.4rem 0.4rem 1rem #76a39f, -0.4rem -0.4rem 1rem hsl(175, 79%, 87%);
	background: #95D1CC;
}
.contact .right form .textarea {
	height: 80px;
	width: 100%;
	box-shadow: 0.4rem 0.4rem 1rem #76a39f, -0.4rem -0.4rem 1rem hsl(175, 79%, 87%);
	background: #95D1CC;
}
.contact .right form .name {
	margin-right: 10px;
}
.field input,
.contact .right form .textarea textarea {
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: "Poppins", sans-serif;
	transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
	border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
	padding-top: 10px;
	resize: none;
}
.contact .right form .button-area {
	display: flex;
	align-items: center;
}
.subjextt{
	margin-bottom: 20px;
	padding-top: 30px;
}
.right form .button-area button {
	display: inline-block;
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    color: #78199e;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0.4rem 0.4rem 1rem #76a39f, -0.4rem -0.4rem 1rem hsl(175, 79%, 87%);
    background: #95D1CC;
}
.right form .button-area button:hover {
	box-shadow: 0.4rem 0.4rem 1rem #66c7bf inset,
		-0.4rem -0.4rem 1rem #d7e9e7 inset;
}
/* footer section styling */
footer {
	background: #95D1CC;
	padding: 15px 23px;
	color: #2b6496;
	text-align: center;
}


.mark{
	background-color: grey;
	color: #100e11;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.mark a :hover{
	color: rgba(63, 15, 174, 0.764);
}
/* .mark  :hover{
	color: rgba(69, 252, 3, 0.383);
} */




 /* responsive in header section */

 @media(max-width: 500px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgba(11, 7, 5, 0.806);
        transition: all 0.3s ease-in-out;
    }
    .menu li{
        margin-top: 40px;
    }

    .menu li a{
        padding: 10px;
    }
    .open-menu,.close-menu{
        display: block;
        
    }
    #check:checked ~ .menu{
        right: 0;
    }

    .contact .right form .fields {
		flex-direction: column;
	}
    .contact .right form .name,
	.contact .right form .email {
		margin: 0;
	}
    .right{
        width: 150px;
    }
 }


  /* responsive in main section */
@media(max-width:500px){
	.head7,.head2,.head3,.head4,.head5,.head6
	{
		display: flex;
		flex-direction: column;
		
	}
	.aboutt{
		background-color: rgba(94, 92, 201, 0.46);
	}
	.bloggs{
		background-color: darkslateblue;
	}
	.servu{
		background-color: #2b6496;
	}
	.im1,.im2,.imA1,.imA2,.imAs1,.imAs2{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	


}


 /* responsive in contact section */
 @media (max-width: 500px) {
	.right  {
		font-size: 19px;
	}
	.contact .right form .fields {
		flex-direction: column;
	}
	.contact .right form .name,
	.contact .right form .email {
		margin: 0;
	}
	.right form  {
		width: 150px;
	}
}

@keyframes reveal{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(3);
	}
}


  /* Animation for the left-side fade-in */
  @keyframes fadeInLeft {
    0% {
      transform: translateX(-100%);  /* Start off-screen to the left */
    }
    100% {
     
      transform: translateX(0);  /* End at the normal position */
    }
  }
  

   /* Animation for the Right-side fade-in */

  @keyframes fadeInRight {
    0% {
      transform: translateX(100%);  /* Start off-screen to the left */
    }
    100% {
     
      transform: translateX(0);  /* End at the normal position */
    }
  }